force-app/main/default/flows/Study_Funding_Disbursement_For_Academic_Term2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Add the study funding id to the collection.</description>
        <name>Add_studyFundingId</name>
        <label>Add studyFundingId</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>selectedStudyFundingIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_selected_study_funding.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_selected_study_funding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add the new transaction payment record to the list for DML.</description>
        <name>Add_Transaction_Payment_List</name>
        <label>Add Transaction Payment List</label>
        <locationX>891</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>newTransactionPayments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newTransactionPayment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Selected_Individual_Funding_Allocations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Prepare new transaction payment record.</description>
        <name>Init_Transaction_Payment</name>
        <label>Init Transaction Payment</label>
        <locationX>891</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Academic_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Display_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ifaAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Applicable_Item_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Study_Funding__r.Applicable_Item_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Refundable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Study_Funding__r.Allow_Excess_Disbursement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Individual_Funding_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank Transfer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Applicable_to_Specific_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Study_Funding__r.Applicable_to_Specific_Types__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Transaction_Payment_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the IFA remaining amount as the amount to be disbursed since the max per term is blank.</description>
        <name>Set_IFA_Amount_To_Remaining</name>
        <label>Set IFA Amount To Remaining</label>
        <locationX>792</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Remaining_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set IFA Amount variable as max term amount of the study funding.</description>
        <name>Set_IFA_Amount_To_SFD</name>
        <label>Set IFA Amount To SFD</label>
        <locationX>528</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Study_Funding__r.Max_Per_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the IFA amount variable with custom amount entered by user.</description>
        <name>Set_IFA_Amount_With_Custom_Amount</name>
        <label>Set IFA Amount</label>
        <locationX>1056</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S3_Custom_Amount_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set IFA Amount variable as max term amount of the individual funding allocation.</description>
        <name>Set_IFA_Amount_With_Max_Term_Amount</name>
        <label>Set IFA Amount</label>
        <locationX>264</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Max_Per_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set IFA Amount variable with remaining amount of the individual funding allocation.</description>
        <name>Set_IFA_Amount_With_Remaining_Amount</name>
        <label>Set IFA Amount</label>
        <locationX>1320</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Remaining_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To set the IFA Amount variable with the remaining amount available.</description>
        <name>Set_IFA_Amount_With_Remaining_Amount_2</name>
        <label>Set IFA Amount</label>
        <locationX>979</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Selected_Individual_Funding_Allocations.Remaining_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Repayable_Funding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set transaction type as non repayable.</description>
        <name>Set_Transaction_Type_Non_Repayable</name>
        <label>Set Transaction Type</label>
        <locationX>1023</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>transactionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_Repayable_Financial_Aid_Disbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Transaction_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set transaction type as repayable.</description>
        <name>Set_Transaction_Type_Repayable</name>
        <label>Set Transaction Type</label>
        <locationX>759</locationX>
        <locationY>2282</locationY>
        <assignmentItems>
            <assignToReference>transactionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repayable_Financial_Aid_Disbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Transaction_Payment</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Custom amount</description>
        <name>Custom_Amount</name>
        <choiceText>Custom Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom Amount</stringValue>
        </value>
    </choices>
    <choices>
        <description>Max per term or remaining amount whichever that comes lower.</description>
        <name>Max_Term_or_Remaining_Amount</name>
        <choiceText>Max Per Term or Remaining Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Max Per Term or Remaining Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Repayable_Financial_Aid_Disbursement</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Non Repayable Financial Aid Disbursement&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Repayable Financial Aid Disbursement</stringValue>
        </value>
    </choices>
    <choices>
        <description>Remaining amount</description>
        <name>Remaining_Amount</name>
        <choiceText>Remaining Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remaining Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repayable_Financial_Aid_Disbursement</name>
        <choiceText>Repayable Financial Aid Disbursement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repayable Financial Aid Disbursement</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Validate the amount option selected by user to decide the default amount value.</description>
        <name>Check_Amount_Option</name>
        <label>Check Amount Option</label>
        <locationX>891</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Set_IFA_Amount_With_Remaining_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Remaining Amount</defaultConnectorLabel>
        <rules>
            <name>AmountOption_Is_Max_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S3_Options_for_Amount_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Max_Term_or_Remaining_Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Max_Per_Term</targetReference>
            </connector>
            <label>Is Max Term</label>
        </rules>
        <rules>
            <name>AmountOption_Is_Custom_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S3_Options_for_Amount_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Custom_Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IFA_Amount_With_Custom_Amount</targetReference>
            </connector>
            <label>Is Custom Amount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the max per term in individual funding allocation.</description>
        <name>Check_Max_Per_Term</name>
        <label>Check Max Per Term</label>
        <locationX>462</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Check_Study_Funding_Max_Per_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Max Amount</defaultConnectorLabel>
        <rules>
            <name>Has_Max_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Individual_Funding_Allocations.Max_Per_Term__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IFA_Amount_With_Max_Term_Amount</targetReference>
            </connector>
            <label>Has Max Amount</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check the amount to be disbursed against the remaining amount to ensure we don&apos;t over disburse.</description>
        <name>Check_Remaining_Amount_Available</name>
        <label>Check Remaining Amount Available</label>
        <locationX>891</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Set_IFA_Amount_With_Remaining_Amount_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insufficient</defaultConnectorLabel>
        <rules>
            <name>Amount_Sufficient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Individual_Funding_Allocations.Remaining_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ifaAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Repayable_Funding</targetReference>
            </connector>
            <label>Sufficient</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the max per term defined in study funding if the individual funding allocation doesn&apos;t have one.</description>
        <name>Check_Study_Funding_Max_Per_Term</name>
        <label>Check Study Funding Max Per Term</label>
        <locationX>660</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Set_IFA_Amount_To_Remaining</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SFD Max Amount</defaultConnectorLabel>
        <rules>
            <name>Has_SFD_Max_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Individual_Funding_Allocations.Study_Funding__r.Max_Per_Term__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IFA_Amount_To_SFD</targetReference>
            </connector>
            <label>Has SFD Max Amount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the study funding is repayable.</description>
        <name>Is_Repayable_Funding</name>
        <label>Is Repayable Funding?</label>
        <locationX>891</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Set_Transaction_Type_Non_Repayable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Repayable_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Selected_Individual_Funding_Allocations.Study_Funding__r.Repayable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Transaction_Type_Repayable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Study Funding Disbursement For Academic Term (New)</description>
    <environments>Default</environments>
    <interviewLabel>Study Funding Disbursement For Academic Term (New) {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Study Funding Disbursement For Academic Term (New)</label>
    <loops>
        <name>Loop_Selected_Individual_Funding_Allocations</name>
        <label>Loop Selected Individual Funding Allocations</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <collectionReference>S2_Individual_Funding_Allocation_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Amount_Option</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Transaction_Payments</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop the selected study funding from the datatable and add the id to a list of collection for query purpose.</description>
        <name>Loop_selected_study_funding</name>
        <label>Loop selected study funding</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>S1_Study_Fundings_Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_studyFundingId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Query_Individual_Funding_Allocations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create transaction payment records.</description>
        <name>Create_Transaction_Payments</name>
        <label>Create Transaction Payments</label>
        <locationX>176</locationX>
        <locationY>2774</locationY>
        <connector>
            <targetReference>S5_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Data</targetReference>
        </faultConnector>
        <inputReference>newTransactionPayments</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Query a list of individual funding allocations based on the selected study funding and status = Active, remaining amount &gt; 0, start date &lt;= current date, end date &gt;= current date.</description>
        <name>Query_Individual_Funding_Allocations</name>
        <label>Query Individual Funding Allocations</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S2_Students_Selection</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5) AND (6 OR 7)</filterLogic>
        <filters>
            <field>Study_Funding__c</field>
            <operator>In</operator>
            <value>
                <elementReference>selectedStudyFundingIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Remaining_Amount__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Individual_Funding_Allocation__c</object>
        <sortField>Study_Funding__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query a list of active study funding for the educational institution with status = Active, start date &lt;= current date, end date &gt;= current date.</description>
        <name>Query_Study_Fundings</name>
        <label>Query Study Fundings</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S1_Study_Funding_Selection</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND (5 OR 6)</filterLogic>
        <filters>
            <field>Educational_Institution__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Academic_Year__r.Educational_Institution__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Start_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Study_Funding__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>This is to rollback all data inserted/updated in the runtime.</description>
        <name>Rollback_Data</name>
        <label>Rollback Data</label>
        <locationX>440</locationX>
        <locationY>2882</locationY>
        <connector>
            <targetReference>S6_Failed</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Study funding selection screen</description>
        <name>S1_Study_Funding_Selection</name>
        <label>S1 - Study Funding Selection</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_selected_study_funding</targetReference>
        </connector>
        <fields>
            <name>S1_Helptext</name>
            <fieldText>&lt;p&gt;Please select one or more study funding that you want to disburse.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S1_Study_Fundings_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Study_Funding__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Study Funding</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Query_Study_Fundings</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a394&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Study Funding Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;reduivy__Type__c&quot;,&quot;guid&quot;:&quot;column-6e0b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;reduivy__Description__c&quot;,&quot;guid&quot;:&quot;column-a60a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Student selection screen.</description>
        <name>S2_Students_Selection</name>
        <label>S2 - Students Selection</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S3_Amount_Selection</targetReference>
        </connector>
        <fields>
            <name>S2_Helptext</name>
            <fieldText>&lt;p&gt;Please select one or more students.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S2_Individual_Funding_Allocation_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Individual_Funding_Allocation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Eligible Students</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Query_Individual_Funding_Allocations</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-1d4c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Individual Funding Allocation #&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;reduivy__Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-ee08&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;reduivy__Study_Funding_Name__c&quot;,&quot;guid&quot;:&quot;column-d05c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Study Funding Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;reduivy__Amount__c&quot;,&quot;guid&quot;:&quot;column-84ef&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;reduivy__Remaining_Amount__c&quot;,&quot;guid&quot;:&quot;column-16ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Remaining Amount&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Amount selection screen</description>
        <name>S3_Amount_Selection</name>
        <label>S3 - Amount Selection</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>S4_Review_and_Confirmation</targetReference>
        </connector>
        <fields>
            <name>S3_Helptext</name>
            <fieldText>&lt;p&gt;Please define the amount to be disbursed for the selected students.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S3_Amount_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S3_Amount_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S3_Options_for_Amount_Radio</name>
                    <choiceReferences>Max_Term_or_Remaining_Amount</choiceReferences>
                    <choiceReferences>Remaining_Amount</choiceReferences>
                    <choiceReferences>Custom_Amount</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Options for Amount</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S3_Amount_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S3_Amount_Selection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S3_Amount_Selection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S3_Custom_Amount_Input</name>
                    <dataType>Currency</dataType>
                    <fieldText>Please enter the amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>S3_Options_for_Amount_Radio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Custom_Amount</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S3_Amount_Selection_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen</description>
        <name>S4_Review_and_Confirmation</name>
        <label>S4 - Review and Confirmation</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Individual_Funding_Allocations</targetReference>
        </connector>
        <fields>
            <name>S4_Helptext</name>
            <fieldText>&lt;p&gt;Please review and confirm the following disbursement information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S4_Amount_Option_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Selected option:&lt;/strong&gt; {!S3_Options_for_Amount_Radio}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S4_Custom_Amount_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Amount:&lt;/strong&gt; {!S3_Custom_Amount_Input}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>S3_Options_for_Amount_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Custom_Amount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S4_Selected_Students_Review_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Individual_Funding_Allocation__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Students</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>S2_Individual_Funding_Allocation_Table.selectedRows</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-eb34&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Individual Funding Allocation #&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;reduivy__Contact_Name__c&quot;,&quot;guid&quot;:&quot;column-a5a8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Contact Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;reduivy__Study_Funding_Name__c&quot;,&quot;guid&quot;:&quot;column-c415&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;Study Funding&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Study Funding Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Final screen to prompt success message.</description>
        <name>S5_Success</name>
        <label>S5 - Success</label>
        <locationX>176</locationX>
        <locationY>2882</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S5_Helptext</name>
            <fieldText>&lt;p&gt;The disbursements are created as Transaction Payment for the students successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error screen to prompt error.</description>
        <name>S6_Failed</name>
        <label>S6 - Failed</label>
        <locationX>440</locationX>
        <locationY>2990</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S6_Helptext</name>
            <fieldText>&lt;p&gt;Failed to complete the disbursement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please try again. If this problem persists, please contact a system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Study_Fundings</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ifaAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Payment__c</objectType>
    </variables>
    <variables>
        <name>newTransactionPayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Payment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Study_Term__c</objectType>
    </variables>
    <variables>
        <name>selectedStudyFundingIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
