force-app/main/default/flows/Study_Funding_Disbursement_For_Individual_Funding_Allocation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <assignments>
        <description>Prepare new transaction payment record.</description>
        <name>Init_Transaction_Payment</name>
        <label>Init Transaction Payment</label>
        <locationX>677</locationX>
        <locationY>1934</locationY>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Academic_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Academic_Term.Display_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ifaAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Applicable_Item_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Study_Funding__r.Applicable_Item_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Query_Academic_Term.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Refundable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Study_Funding__r.Allow_Excess_Disbursement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Transaction_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Transaction_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Individual_Funding_Allocation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank Transfer</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTransactionPayment.Applicable_to_Specific_Types__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Study_Funding__r.Applicable_to_Specific_Types__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Transaction_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the IFA remaining amount as the amount to be disbursed since the max per term is blank.</description>
        <name>Set_IFA_Amount_To_Remaining</name>
        <label>Set IFA Amount To Remaining</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Remaining_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set IFA Amount variable as max term amount of the study funding.</description>
        <name>Set_IFA_Amount_To_SFD</name>
        <label>Set IFA Amount To SFD</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Study_Funding__r.Max_Per_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the IFA amount variable with custom amount entered by user.</description>
        <name>Set_IFA_Amount_With_Custom_Amount</name>
        <label>Set IFA Amount</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>S3_Custom_Amount_Input</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set IFA Amount variable as max term amount of the individual funding allocation.</description>
        <name>Set_IFA_Amount_With_Max_Term_Amount</name>
        <label>Set IFA Amount</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Max_Per_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set IFA Amount variable with remaining amount of the individual funding allocation.</description>
        <name>Set_IFA_Amount_With_Remaining_Amount</name>
        <label>Set IFA Amount</label>
        <locationX>1106</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Remaining_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Remaining_Amount_Available</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>To set the IFA Amount variable with the remaining amount available.</description>
        <name>Set_IFA_Amount_With_Remaining_Amount_2</name>
        <label>Set IFA Amount</label>
        <locationX>765</locationX>
        <locationY>1442</locationY>
        <assignmentItems>
            <assignToReference>ifaAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Remaining_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Repayable_Funding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set transaction type as non repayable.</description>
        <name>Set_Transaction_Type_Non_Repayable</name>
        <label>Set Transaction Type</label>
        <locationX>809</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>transactionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Non_Repayable_Financial_Aid_Disbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Transaction_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set transaction type as repayable.</description>
        <name>Set_Transaction_Type_Repayable</name>
        <label>Set Transaction Type</label>
        <locationX>545</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>transactionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Repayable_Financial_Aid_Disbursement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Init_Transaction_Payment</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>Custom amount</description>
        <name>Custom_Amount</name>
        <choiceText>Custom Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Custom Amount</stringValue>
        </value>
    </choices>
    <choices>
        <description>Max per term or remaining amount whichever that comes lower.</description>
        <name>Max_Term_or_Remaining_Amount</name>
        <choiceText>Max Per Term or Remaining Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Max Per Term or Remaining Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_Repayable_Financial_Aid_Disbursement</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Non Repayable Financial Aid Disbursement&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non Repayable Financial Aid Disbursement</stringValue>
        </value>
    </choices>
    <choices>
        <description>Remaining amount</description>
        <name>Remaining_Amount</name>
        <choiceText>Remaining Amount</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remaining Amount</stringValue>
        </value>
    </choices>
    <choices>
        <name>Repayable_Financial_Aid_Disbursement</name>
        <choiceText>Repayable Financial Aid Disbursement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Repayable Financial Aid Disbursement</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Validate the amount option selected by user to decide the default amount value.</description>
        <name>Check_Amount_Option</name>
        <label>Check Amount Option</label>
        <locationX>677</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Set_IFA_Amount_With_Remaining_Amount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Remaining Amount</defaultConnectorLabel>
        <rules>
            <name>AmountOption_Is_Max_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S3_Options_for_Amount_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Max_Term_or_Remaining_Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Max_Per_Term</targetReference>
            </connector>
            <label>Is Max Term</label>
        </rules>
        <rules>
            <name>AmountOption_Is_Custom_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>S3_Options_for_Amount_Radio</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Custom_Amount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IFA_Amount_With_Custom_Amount</targetReference>
            </connector>
            <label>Is Custom Amount</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the max per term in individual funding allocation.</description>
        <name>Check_Max_Per_Term</name>
        <label>Check Max Per Term</label>
        <locationX>248</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_SFD_Max_Per_Term</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Max Amount</defaultConnectorLabel>
        <rules>
            <name>Has_Max_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Max_Per_Term__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IFA_Amount_With_Max_Term_Amount</targetReference>
            </connector>
            <label>Has Max Amount</label>
        </rules>
    </decisions>
    <decisions>
        <description>To check the amount to be disbursed against the remaining amount to ensure we don&apos;t over disburse.</description>
        <name>Check_Remaining_Amount_Available</name>
        <label>Check Remaining Amount Available</label>
        <locationX>677</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Set_IFA_Amount_With_Remaining_Amount_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insufficient</defaultConnectorLabel>
        <rules>
            <name>Amount_Sufficient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Remaining_Amount__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ifaAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Repayable_Funding</targetReference>
            </connector>
            <label>Sufficient</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the max per term in study funding</description>
        <name>Check_SFD_Max_Per_Term</name>
        <label>Check SFD Max Per Term</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Set_IFA_Amount_To_Remaining</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No SFD Max Per Term</defaultConnectorLabel>
        <rules>
            <name>Has_SFD_Max_Per_Term</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Study_Funding__r.Max_Per_Term__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IFA_Amount_To_SFD</targetReference>
            </connector>
            <label>Has SFD Max Per Term</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if user has selected an academic term.</description>
        <name>Has_Term_Selected</name>
        <label>Has Term Selected?</label>
        <locationX>677</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>S2_Review_and_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasTerm_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Academic_Term_Lookup.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Academic_Term</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the study funding is repayable.</description>
        <name>Is_Repayable_Funding</name>
        <label>Is Repayable Funding?</label>
        <locationX>677</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>Set_Transaction_Type_Non_Repayable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Repayable_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Study_Funding__r.Repayable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Transaction_Type_Repayable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Study Funding Disbursement For Individual Funding Allocation</description>
    <environments>Default</environments>
    <interviewLabel>Study Funding Disbursement For Individual Funding Allocation {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Study Funding Disbursement For Individual Funding Allocation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create transaction payment record.</description>
        <name>Create_Transaction_Payment</name>
        <label>Create Transaction Payment</label>
        <locationX>677</locationX>
        <locationY>2042</locationY>
        <connector>
            <targetReference>S3_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Data</targetReference>
        </faultConnector>
        <inputReference>newTransactionPayment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Query_Academic_Term</name>
        <label>Query Academic Term</label>
        <locationX>545</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S2_Review_and_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Academic_Term_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Study_Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <description>This is to rollback all data inserted/updated in the runtime.</description>
        <name>Rollback_Data</name>
        <label>Rollback Data</label>
        <locationX>1370</locationX>
        <locationY>2150</locationY>
        <connector>
            <targetReference>S4_Failed</targetReference>
        </connector>
    </recordRollbacks>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <description>Term and Amount selection screen</description>
        <name>S1_Term_and_Amount_Selection</name>
        <label>S1 - Term and Amount Selection</label>
        <locationX>677</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Has_Term_Selected</targetReference>
        </connector>
        <fields>
            <name>S3_Helptext</name>
            <fieldText>&lt;p&gt;Please define the academic term and amount to be disbursed for the student.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S1_Term_and_Amount_Selection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Term_and_Amount_Selection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Academic_Term_Lookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>reduivy__Academic_Term__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Academic Term</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>reduivy__Individual_Academic_Progress__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Term_and_Amount_Selection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S1_Term_and_Amount_Selection_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Term_and_Amount_Selection_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S3_Options_for_Amount_Radio</name>
                    <choiceReferences>Max_Term_or_Remaining_Amount</choiceReferences>
                    <choiceReferences>Remaining_Amount</choiceReferences>
                    <choiceReferences>Custom_Amount</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Options for Amount</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Term_and_Amount_Selection_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S1_Term_and_Amount_Selection_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Term_and_Amount_Selection_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>S3_Custom_Amount_Input</name>
                    <dataType>Currency</dataType>
                    <fieldText>Please enter the amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>S3_Options_for_Amount_Radio</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Custom_Amount</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Term_and_Amount_Selection_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Confirmation screen</description>
        <name>S2_Review_and_Confirmation</name>
        <label>S2 - Review and Confirmation</label>
        <locationX>677</locationX>
        <locationY>542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Amount_Option</targetReference>
        </connector>
        <fields>
            <name>S4_Helptext</name>
            <fieldText>&lt;p&gt;Please review and confirm the following disbursement information.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S4_Academic_Term_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Selected academic term:&lt;/strong&gt; {!Query_Academic_Term.Name} ({!Query_Academic_Term.Display_Name__c})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Query_Academic_Term.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S4_Amount_Option_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Selected option:&lt;/strong&gt; {!S3_Options_for_Amount_Radio}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S4_Custom_Amount_Info</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Amount:&lt;/strong&gt; {!S3_Custom_Amount_Input}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>S3_Options_for_Amount_Radio</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Custom_Amount</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Final screen to prompt success message.</description>
        <name>S3_Success</name>
        <label>S3 - Success</label>
        <locationX>677</locationX>
        <locationY>2150</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S5_Helptext</name>
            <fieldText>&lt;p&gt;The disbursements are created as Transaction Payment for the students successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error screen to prompt error.</description>
        <name>S4_Failed</name>
        <label>S4 - Failed</label>
        <locationX>1370</locationX>
        <locationY>2258</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S6_Helptext</name>
            <fieldText>&lt;p&gt;Failed to complete the disbursement.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please try again. If this problem persists, please contact a system administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>551</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>S1_Term_and_Amount_Selection</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ifaAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>newTransactionPayment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Payment__c</objectType>
    </variables>
    <variables>
        <name>newTransactionPayments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transaction_Payment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Individual_Funding_Allocation__c</objectType>
    </variables>
    <variables>
        <name>selectedStudyFundingIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transactionType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
