scratch-org-community/main/default/flows/Study_Offering_Registration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Custom_Notification_Action_1</name>
        <label>Send Custom Notification Action 1</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Step2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>$Setup.reduivy__RIO_Education_Ivy_Settings__c.reduivy__Notification_Type_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>notificationRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Shopping Cart Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Item has been added to shopping cart.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <stringValue>{type: &quot;comm__namedPage&quot;,attributes: {name: &quot;Shopping_Cart__c&quot;}}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_contactId_from_contact</name>
        <label>Set contactId from contact</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_For_User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IEN_Student_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_contactId_from_user</name>
        <label>Set contactId from user</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>notificationRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_IEN_Student_Record_Type</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Has_Contact_Id</name>
        <label>Has Contact Id</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_For_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HasContactId_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_contactId_from_user</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Sample flow to add study offering to a transaction order</description>
    <environments>Default</environments>
    <interviewLabel>Study Offering Registration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Study Offering Registration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Draft_Order</name>
        <label>Create Draft Order</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Create_IEN</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>reduivy__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>reduivy__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>reduivy__Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Transaction_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>reduivy__Transaction_Order__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_IEN</name>
        <label>Create IEN</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_Order_Line</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_IEN_Student_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Contact__c</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Enrollment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Enrollment_Status__c</field>
            <value>
                <stringValue>Enrollment Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Enrollment_Type__c</field>
            <value>
                <stringValue>Continuing Education</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Study_Offering__c</field>
            <value>
                <elementReference>studyOfferingId</elementReference>
            </value>
        </inputAssignments>
        <object>reduivy__Individual_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Line</name>
        <label>Create Order Line</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Send_Custom_Notification_Action_1</targetReference>
        </connector>
        <inputAssignments>
            <field>reduivy__Entry_Type__c</field>
            <value>
                <stringValue>Debit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Individual_Enrollment__c</field>
            <value>
                <elementReference>Create_IEN</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Item_Name__c</field>
            <value>
                <elementReference>Get_Study_Offering.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Item_Type__c</field>
            <value>
                <stringValue>Tuition</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Transaction_Order__c</field>
            <value>
                <elementReference>Create_Draft_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Transaction_Type__c</field>
            <value>
                <stringValue>Order Line</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>reduivy__Unit_Price__c</field>
            <value>
                <elementReference>Get_Study_Offering.reduivy__Fee_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <object>reduivy__Transaction_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_For_User</name>
        <label>Get Contact For User</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_contactId_from_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>reduivy__User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_IEN_Student_Record_Type</name>
        <label>Get IEN Student Record Type</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Study_Offering</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Student</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>reduivy__Individual_Enrollment__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Study_Offering</name>
        <label>Get Study Offering</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Step1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>studyOfferingId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>reduivy__Study_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Step1</name>
        <label>Step1</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Draft_Order</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Text</name>
            <fieldText>&lt;p&gt;Please confirm that you want to add the {!Get_Study_Offering.Name} to your cart?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Confirmation</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>Step2</name>
        <label>Step2</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Summary</name>
            <fieldText>&lt;p&gt;The selected study offering {!Get_Study_Offering.Name} has been added to your cart.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please proceed to your &lt;a href=&quot;/portal/s/shopping-cart&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;cart for checkout&lt;/strong&gt;&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Finished</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Confirmation</name>
        <isActive>true</isActive>
        <label>Confirmation</label>
        <stageOrder>5</stageOrder>
    </stages>
    <stages>
        <name>Finished</name>
        <isActive>true</isActive>
        <label>Finished</label>
        <stageOrder>10</stageOrder>
    </stages>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Contact_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contact id</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>notificationRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>study offering id from url</description>
        <name>studyOfferingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
